<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1>Todo App</h1>
    <form action="/add-todo" method="post" class="form">
      <input type="text" name="todo" placeholder="Add a todo" class="input">
      <button type="submit" class="button">Add Todo</button>
    </form>
    <div class="app-container"> 
      <h1 style="margin: 0px;">Todo Items</h1>
      <ul class="task-list" id="todo-list">
        <% todoValue.forEach((todos,i)=>{%>
      <li class="task-list-item" v-for="task in tasks">
        <label class="task-list-item-label">
          <input type="checkbox"  class="checkbox" onchange="check(`<%= i %>`)" <%= todos.isCompleted? "checked" : "" %> >
          <span name="check" class="my-text" id=<%=todos.id%>><%=todos.task%></span>
        </label>
        <a class="edit-btn" href="/update-todo/<%=i%>">Edit</a>
        <!-- <a class="edit-btn" href="/update-todo/<%=i%>" onchange="edit(`<%=i%>`)" <%=todos.isUpdated? "edit":"save" %>Edit</a>Edit -->
        <a class="delete-btn" href="/delete-todo/<%=i%>">X</a>
      </li>
      <%})%>
    </ul>
  </div>
  <script>
    function edit(index){
      console.log('update');
      window.location.href= `/edit/${index}`
    }
function check(index) {
      console.log("check")
    window.location.href= `/check/${index}`
}
  </script>
</body>

</html>