<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1>Todo App</h1>
    <!-- form-1 in which add todo -->
    <form action="/add-todo" method="post" class="form" id="form-one">
      <input type="text" name="todos" placeholder="Add a todo" class="input" id="input-text">
      <button type="submit" class="button" id="add-todo">Add Todo</button>
    </form>
    <!-- form-2 in which save todo   -->
    <form action="/update-todo" method="post" class="form" id="form-two">
      <input type="text" name="todos" placeholder="Add a todo" class="input" id="input-edit">
      <input type="hidden" name="index" id="hidden-input" />
      <button type="submit" class="button" id="save-todo">Save Todo</button>
    </form>
    <!-- display list -->
    <div class="app-container"> 
      <h1 style="margin: 0px;">Todo Items</h1>
      <ul class="task-list" id="todo-list">
        <% todoValue.forEach((todos,i)=>{%>
      <li class="task-list-item" v-for="task in tasks">
        <label class="task-list-item-label">
          <input type="checkbox"  class="checkbox" onchange="check(`<%= i %>`)" <%= todos.isCompleted? "checked" : "" %> >
          <span name="check" class="my-text" id=<%=todos.id%>><%=todos.task%></span>
        </label>
        <button class="edit-btn" onclick="edit(`<%= i %>` , `<%= todos.task %>`)" id="edit">EDIT</button>
        <a class="delete-btn" href="/delete-todo/<%=i%>">X</a>
      </li>
      <%})%>
    </ul>
  </div>
  <script>
    // check functionality
function check(index) {
      console.log("check")
    window.location.href= `/check/${index}`
}
// edit functionality
function edit(index, todos){
    console.log("first", index, todos)
    const formOne=document.getElementById("form-one")
    formOne.style.display="none"
    const formTwo=document.getElementById("form-two");
    formTwo.style.display="flex"
    document.getElementById("input-edit").value=todos;
    const hiddeninput=document.getElementById("hidden-input")
    hiddeninput.value=index
}

  </script>
</body>

</html>